<div class="profiles-container">
  <div class="profile">
    <div class="jack">
      <div class="profile-img"></div>
      <div class="profile-text">
        <p>
          this is Jack's profile text
        </p>
      </div>
    </div>
    <div class="owen">
      <div class="profile-img">
        <div class="profile-text">
          <p>
            this is Owen's profile text
          </p>
        </div>

      </div>
    </div>
    <div class="andrew">
      <div class="profile-img">
        <div class="profile-text">
          <p>
            this is Andrew's profile text
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
