{{>navigation}}
<div class="splash-container">
  <div class="coffee-container">
    <div class="left-bracket"><img src="img/left-bracket.png" alt="left-bracket"/></div>
    <div class="coffee-cup coffee-cup-1"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="coffee-cup coffee-cup-2"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="coffee-cup coffee-cup-3"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="coffee-cup coffee-cup-4"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="coffee-cup coffee-cup-5"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="coffee-cup coffee-cup-6"><img src="img/coffee-cup.png" alt="coffee-cup"/></div>
    <div class="right-bracket"><img src="img/right-bracket.png" alt="right-bracket"/></div>
    <div class="filter-container"><img src="img/es6-filter.png" alt="filter-coffee"/></div>
  </div>

</div>
<div class="content-container">
  <div class="recent-posts">
    {{#each posts}}
      {{>posts this}}
    {{/each}}
  </div>
  <!-- {{>profiles}} -->
</div>
{{>footer}}
