{{>navigation}}
<div class="splash-container">
  <div class="coffee-container">
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
    <div class="coffee-cup"><img src="img/coffee-cup.png" alt="" /></div>
  </div>
</div>
<div class="content-container">
  <div class="recent-posts">
  {{#each posts}}
    {{>posts this}}
  {{/each}}
  </div>
  {{>profiles}}
</div>
{{>footer}}
